<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @admin_vendor_category.name %>
</p>



<%= link_to 'Edit', edit_admin_vendor_category_path(@admin_vendor_category) %> |
<%= link_to 'Back', admin_vendor_categories_path %>
