<div class="home-header-2" style="background-image: url(/assets/commerce/header-img-3.jpg); position: relative;">
  <div class="backdrop-2"></div>       
  <div class="homepage-content-2 backdrop-top-2">
   <div class="location-header">


    <i class="fa fa-map-marker fa-fw"></i> 
    <span class="current-location">Johar Town, Block-E, Lahore</span>
    <!-- Trigger the modal with a button -->

  </div>
  <a href="#" class="btn btn-primary btn-xs change-location" data-toggle="modal" data-target="#myModal">Change Location</a>
</div>
      
</div>

<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/stores">Stores</a></li>
    <li class="active">Johar Town, Lahore</li>
  </ol>
</div>