<div class="filters">
  <div class="form-group">
    <i class="fa fa-sort-amount-desc"></i>
    <select class="form-control">
      <option value selected="selected">Sort By Relevance</option>
      <option value="default">Revelance</option>
      <option value="">Ratings</option>
      <option>Minimum Order Value</option>
      <option value="">Free Delivery</option>
      <option value="">Fastest Delivery</option>
    </select>
  </div>
</div>