<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="#">Stores</a></li>
    <li class="active"><%=params[:area]%>,<%=params[:city]%></li>
  </ol>
</div>