<div class="col-md-3">
 
  <div class="filters">
    <div class="form-group">
      <i class="fa fa-search"></i>
      <input type="text" name="" class="form-control" required="required" placeholder="Search">
    </div>
  </div>

  <div class="filters">
    <div class="form-group">
      <i class="fa fa-sort-amount-desc"></i>
      
      <select class="form-control">
        <option value selected="selected">Sort By Relevance</option>
        <option value="default">Revelance</option>
        <option value="">Ratings</option>
        <option>Minimum Order Value</option>
        <option value="">Free Delivery</option>
        <option value="">Fastest Delivery</option>
      </select>
    </div>  

  </div>
  
  <div class="characteristics filters-area">
    
    <div class="filters-title list-1-js">
      <i class="fa fa-sliders fa-rotate-270"></i> <span>Filters</span>
    </div>

    
    <ul class="list-unstyled">
      <li>
        <a href="#">
          free delivery
        </a>
      </li>
      <li>
        <a href="#">
          
          Deals
        </a>
      </li>
      <li>
        <a href="#">
          
          Open Restaurants
        </a>
      </li>
      <li>
        <a href="#">
          
          Online Payment avaliable
        </a>
      </li>
      <li>
        <a href="#">
          
          fast delivery
        </a>
      </li>
      <li>
        <a href="#">
          
          Resturants own delivery
        </a>
      </li>
    </ul>
    
  </div>
  
  <div class="characteristics stores-list">
    
    <div class="filters-title list-2-js">
      <i class="fa fa-map-marker"></i> <span>Top Stores</span>
    </div>
<%= render 'stores_list'%>
    
  </div>
</div>