<ul class="list-unstyled">
  
  <li>
    <%= link_to 'Free Delivery'.html_safe, stores_path(:free_delivery => true), class: '', :remote=>true, :method => 'get' %>
  </li>
  <li>
    <a href="#">
      Deals
    </a>
  </li>
  <li>
    <a href="#">
      Open Restaurants
    </a>
  </li>
  <li>
    <a href="#">
      Online Payment avaliable
    </a>
  </li>
  <li>
    <a href="#">
      fast delivery
    </a>
  </li>
  <li>
    <a href="#">
      Resturants own delivery
    </a>
  </li>
</ul>