<%=form_tag stores_path, method: 'get', id: "filters", :remote=>true do%>
<div class="characteristics">
  <div class="filters-title">
    <i class="fa fa-sliders fa-rotate-270"></i> <span>Restaurants</span>
  </div>
<%= render 'search_filter'%>
</div>
<div class="characteristics">
  <div class="filters-title">
    <i class="fa fa-cutlery"></i> <span>Categories</span>
  </div>
  <%= render 'categories_filter'%>
</div>
<button type="submit" id="filter_btn" class="hidden">Submit</button>
<%end%>