<%= render 'detail_banner'%>
 <div class="container">
  <div class="row">
  	<div class="margin-top">
  		<%= render 'search_filter'%>
  		<%= render 'all_stores'%>
  	</div>
  </div>
 </div>

<%= render 'shared/location_popup'%>