<div class="home-header" style="background-image: url(/assets/frontend/1.jpg);">
  <div class="homepage-tagline">
    <!-- <div class="homepage-headline">
      <h1>McDonald's - Johar Town</h1>
      <h2>Dessert, Fast Food</h2>
    </div> -->
  </div>
</div>
<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="#">Restaurants</a></li>
    <li><a href="#">Johar Town, Lahore</a></li>
    <li class="active">McDonald's</li>
  </ol>
</div>
<div class="clear40"></div>
<div class="container">
  <div class="tabs-wrapper">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#menu" role="tab" data-toggle="tab">MENU</a></li>
      <li><a href="#reviews" role="tab" data-toggle="tab">Reviews</a></li>
      <li><a href="#info" role="tab" data-toggle="tab">Info</a></li>
    </ul>
    <br><br><br>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="menu">
        <!-- all menu data--> 
        <div class="clear20"></div>
        <div class="row">
          <div class="col-md-3">
            <ul class="category-list list-unstyled go-to-menu">
              <li class="active" id="golink1"><a href="#">Limited Time Offer</a></li>
              <li id="golink2"><a href="#">Exclusive Discounted Deals</a></li>
              <li id="golink3"><a href="#">Sideline and starters</a></li>
              <li id="golink4"><a href="#">Pizza</a></li>
              <li id="golink5"><a href="#">Sandwiches</a></li>
              <li id="golink6"><a href="#">Beverages</a></li>
            </ul>
          </div>
          <div class="col-md-6">
            <div class="menu">
              <div class="menu-category">
                <h3 class="Limited-time-offer" id="link1">Limited Time Offer</h3>
                <div class="Exclusive-menu">
                  <div class="row">
                    <div class="col-md-9">
                      <h4 class="menu-item-title">Exclusive Deal</h4>
                      <p class="menu-item-description">14 inch Large pizza,salad and 1.5 ltr Soft Drink</p>
                    </div>
                    <div class="line-height col-md-3">
                      <ul class="list-inline">
                        <li>Rs. 1,399</li>
                        <li> <i data-toggle="modal" data-target="#add-to-cart"
                          class="fa fa-plus-circle pointer" aria-hidden="true"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="menu-category-header">
                <h2 id="link2">Exclusive Discounted Deals</h2>
                <img src="/assets/frontend/78374_menu.png" class="img-responsive">
              </div>
              <div class="menu-items">
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Deal 1</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="clear"></div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Deal 2</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Deal 3</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Deal 4</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Deal 5</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="clear20"></div>
                <div class="menu-category-header">
                  <h2 id="link3">Sideline and starters</h2>
                  <img src="/assets/frontend/78367_menu.png" class="img-responsive">
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Salad</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Garlic bread</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Garlic bread supreme</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Bread stick</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Crispy fries</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Dessert</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Pasta</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Chicken Lasagna</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="clear20"></div>
                <div class="menu-category-header">
                  <h2 id="link4">Pizza</h2>
                  <img src="/assets/frontend/78368_menu.png" class="img-responsive">
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Super supreme pizza</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Chicken supreme pizza</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Beef supreme pizza</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Cheese Lover Pizza</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Chicken tikka pizza</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Chicken fajita pizza</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Fajita sicilian pizza</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Euro pizza</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Creamy tikka pizza</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>veggie lover pizza</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Hot creamy pizza</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Ranch Pizza</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 299</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-9">
                    <h4>Maxican sandwich</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 399</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="clear20"></div>
                <div class="menu-category-header">
                  <h2 id="link6">Beverages</h2>
                  <img src="/assets/frontend/78369_menu.png" class="img-responsive">
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Soft Drink</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 399</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
                <div class="extra-margin">
                  <div class="deal-extra-style col-md-6">
                    <h4>Mineral Water</h4>
                    <p>6 Inch personal pizza & 300ml soft drink</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <p class="paragraph-style">Serves 1</p>
                  </div>
                  <div class="line-height col-md-3 col-xs-6">
                    <ul class="list-inline">
                      <li>Rs. 399</li>
                      <i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="div-border estimate-and-time">
              <div class="Estimated-time clearfix">
                Estimated Delivery Time
              </div>
              <div class="right-text-45 clearfix">
                <span class="span1">45</span><br><span class="span2">mintues</span>
              </div>
              <div class="clear"></div>
            </div>
            <div class="order-cart">
              <h4>Your Order</h4>
              <div class="mybasket">
                <i class="fa fa-shopping-cart fa-3x"></i>
                <span>Add menu items into your basket</span>
              </div>
            </div>
            <div class="empty-cart-elements-outside">
              <ul class="empty-carts-elements">
                <li><span>Online Payment available</span></li>
                <li><span>Delivery minimum</span><span>Rs. 500</span></li>
                <li><span>Accepts Vouchers</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="clear20"></div>
      </div>
      <div class="tab-pane" id="reviews">
        <!-- all reviews data-->  
        <div class="clear20"></div>
        <div class="vendor-review">
          <ul class="list-unstyled">
            <li class="border-me-review">
              <div class="review-data">
                <span class="review-span1">Mar 14, 2017</span>
                <span class="review-span2">by atif k</span>
              </div>
              <div class="review-stars-review" style="float: left;">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
              </div>
            </li>
            <li class="border-me-review">
              <div class="review-data">
                <span class="review-span1">Mar 14, 2017</span>
                <span class="review-span2">by atif k</span>
              </div>
              <div class="review-stars-review">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
              </div>
            </li>
          </ul>
        </div>
        <div class="clear20"></div>
      </div>
      <div class="tab-pane" id="info">
        <!-- all info data--> 
        <div class="clear20"></div>
        <div class="tab-content">
          <h2 class="vendor-info-title">
            California Pizza - Johar Town Info
          </h2>
          <div class="cuisine-info">
            <div class="cuisine-title">
              <i class="fa fa-cutlery" aria-hidden="true"></i>
              <span class="same-styling">Cuisines</span>
            </div>
            <div class="cuisine-content">Pizza in Lahore</div>
          </div>
          <div class="col-md-9">
            <div class="vendor-schedules-info">
              <div class="schedules-title">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span class="same-styling">Delivery Hours</span>
              </div>
              <ul class="schedules list-unstyled">
                <li>
                  <span class="schedule-item-day">Monday</span>
                  <span class="schedule-item-time">11:30-02:30</span>
                </li>
                <li>
                  <span class="schedule-item-day">Tuesday</span>
                  <span class="schedule-item-time">11:30-02:30</span>
                </li>
                <li>
                  <span class="schedule-item-day">Wednesday</span>
                  <span class="schedule-item-time">11:30-02:30</span>
                </li>
                <li>
                  <span class="schedule-item-day">Thursday</span>
                  <span class="schedule-item-time">11:30-02:30</span>
                </li>
                <li>
                  <span class="schedule-item-day">Friday</span>
                  <span class="schedule-item-time">11:30-02:30</span>
                </li>
                <li>
                  <span class="schedule-item-day">Saturday</span>
                  <span class="schedule-item-time">11:30-02:30</span>
                </li>
                <li>
                  <span class="schedule-item-day">Sunday</span>
                  <span class="schedule-item-time">11:30-02:30</span>
                </li>
              </ul>
            </div>
            <div class="address-and-payment">
              <div class="col-md-6">
                <div class="vendor-info-address">
                  <div class="vendor-info-address-title">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span class="same-styling">Address</span>
                  </div>
                  <span>RUKHSAR TRADING CO., Lahore</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="vendor-info-payments" >
                  <div class="vendor-info-payment-title">
                    <i class="fa fa-credit-card"></i>
                    <span class="same-styling">Payment Types</span>
                  </div>
                  <span>Cash on delivery</span>
                  <span>Online Payment</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="vendor-info-overview">
              <div class="vendor-info-free">
                <div class="delivery-section">
                  <span class="free-span1"><i class="fa fa-motorcycle" aria-hidden="true"></i></span>
                  <span class="free-span2">delivery free</span>
                </div>
                <span>From Rs.0</span> 
              </div>
              <div class="vendor-info-time">
                <div class="delivery-section">
                  <span><i class="fa fa-motorcycle" aria-hidden="true"></i></span>
                  <span class="free-span2">delivery Time</span>
                </div>
                <span>45 min</span>
              </div>
            </div>
          </div>
        </div>
        <div class="clear20"></div>
      </div>
    </div>
  </div>
  <!--.container ends-->
  <div class="clear20"></div>
  <div class="clear40"></div>
  <div class="modal fade" id="add-to-cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="exampleModalLongTitle">Choose Product Choices..</h4>
        </div>
        <div class="modal-body">
          <div class="border-me row">
            <div class="deal-title col-md-7">
              <h5>Exclusive Deal</h5>
              <h6>14 inch large pizza,salad & 1.5 ltr soft drink</h6>
            </div>
            <div class="quantity-column col-md-2">
              <h6>Quantity</h6>
              <div class="form-group">
                <input type="text" name="quantity" class="form-control">
              </div>
            </div>
            <div class="price-column col-md-3">
              From Rs. 1,399
            </div>
          </div>
          <div class="first-category">
            <div class="center-text-div">
              <h4>Choose Your pizza</h4>
              <h6>Minimum 1 and Maximun 1</h6>
            </div>
            <ul class="list-unstyled collapseli">
              <li>
                <div class="radio">
                  <label>
                  <input type="radio" name="sp"> Super Supreme
                  </label>
                </div>
              </li>
              <li>
                <div class="radio">
                  <label>
                  <input type="radio" name="sp"> Chicken Supreme
                  </label>
                </div>
              </li>
              <li>
                <div class="radio">
                  <label>
                  <input type="radio" name="sp">
                  Beef Supreme</label>
                </div>
              </li>
              <li>
                <div class="radio">
                  <label>
                  <input type="radio" name="sp"> Cheese Lover
                  </label>
                </div>
              </li>
              <li>
                <div class="radio">
                  <label>
                  <input type="radio" name="sp"> Creamy tikka
                  </label>
                </div>
              </li>
              <li>
                <div class="radio">
                  <label>
                  <input type="radio" name="sp">
                  Hot Creamy
                  </label>
                </div>
              </li>
              <li>
                <div class="radio">
                  <label>
                  <input type="radio" name="sp">
                  Ranch</label>
                </div>
              </li>
              <li>
                <div class="radio">
                  <label>
                  <input type="radio" name="sp">
                  Euro
                  </label>
                </div>
              </li>
              <li>
                <div class="radio">
                  <label>
                  <input type="radio" name="sp">
                  Chicken Fajita</label>
                </div>
              </li>
              <li>
                <div class="radio">
                  <label>
                  <input type="radio" name="sp">
                  Fajita sicilian</label>
                </div>
              </li>
              <li>
                <div class="radio">
                  <label>
                  <input type="radio" name="sp">
                  Chicken tikka</label>
                </div>
              </li>
              <li>
                <div class="radio">
                  <label>
                  <input type="radio" name="sp">
                  Veggie Lover</label>
                </div>
              </li>
            </ul>
          </div>
          <!-- /////////////////////// first category ends here -->
          <div class="second-category">
            <div class="center-text-div">
              <h4>Choose Your Soft Drink</h4>
              <h6>Minimum 1 and Maximun 1</h6>
            </div>
            <ul class="list-unstyled collapseli">
            <li>
              <div class="radio">
                <label>
                <input type="radio" name="sd">
                Diet 7 Up</label>
              </div>
            </li>
            <li>
              <div class="radio">
                <label>
                <input type="radio" name="sd">
                Diet pepsi</label>
              </div>
            </li>
            <li>
              <div class="radio">
                <label>
                <input type="radio" name="sd">
                pepsi</label>
              </div>
            </li>
            <li>
              <div class="radio">
                <label>
                <input type="radio" name="sd">
                mirenda</label>
              </div>
            </li>
            <li>
              <div class="radio">
                <label>
                <input type="radio" name="sd">
                7 Up</label>
              </div>
            </li>
            <li>
              <div class="radio">
                <label>
                <input type="radio" name="sd">
                mountain due</label>
              </div>
            </li>
          </div>
          <!-- ////////////////second category ends here -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">CONTINUE</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end cart modal //////////////////////////////////////////////////////////////// -->
</div>
<!--////////////////////////////////////////////////////////////////////////-->
<div class="clear40"></div>