<!DOCTYPE html>
<html>
  <head>
    <title>cropit</title>
 

    <style>
      .cropit-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 5px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 263px;
        height: 348px;
      }

      .cropit-preview-image-container {
        cursor: move;
      }

      .cropit-preview-background {
        opacity: .2;
        cursor: auto;
      }

      .image-size-label {
        margin-top: 10px;
      }

      input, .export {
        /* Use relative position to prevent from being covered by image background */
        position: relative;
        z-index: 10;
        display: block;
      }

      button {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div class="image-editor">
      <!-- <input type="file" class="cropit-image-input"> -->
      <div class="file_field">
            <%=f.label :image%>
             <%= f.fields_for :image do |images_form| %>
              <% if @admin_testimonial.image.avatar.exists? %>
                  <%= image_tag @admin_testimonial.image.avatar.url(:thumbnail) %>
               <% end %>
               <%= images_form.file_field :avatar ,class: 'form-control cropit-image-input'%>
             <% end %>
             <br>
        </div>
      <div class="cropit-preview"></div>
      <div class="image-size-label">
        Resize image
      </div>
      <input type="range" class="cropit-image-zoom-input">
      <input type="hidden" name="image_data" class="hidden-image-data" />
        <input type="hidden" name="skip_crop" class="skip_crop" />
      </div>
       <div class="skip"> <a href="#"  id="solution0" class="btn btn-primary" style="color: #fff;">Skip Cropping</a></div>
      <button class="rotate-ccw">Rotate counterclockwise</button>
      <button class="rotate-cw">Rotate clockwise</button>

      <!-- <button class="export">Export</button> -->
    </div>

    <script>
      $(function() {
        $('.image-editor').cropit({
          exportZoom: 1.25,
          imageBackground: true,
          imageBackgroundBorderWidth: 20,
          imageState: {
            src: 'http://lorempixel.com/500/400/',
          },
        });

        $('.rotate-cw').click(function() {
          $('.image-editor').cropit('rotateCW');
        });
        $('.rotate-ccw').click(function() {
          $('.image-editor').cropit('rotateCCW');
        });

        // $('.export').click(function() {
        //   newimage = $('.image-editor').cropit('export');
        //   window.open(imageData);
        // });
      });
      $('form').submit(function() {
      // Move cropped image data to hidden input
      var imageData = $('.image-editor').cropit('export',{
        type: 'image/jpeg',
        originalSize: true,
        quality: 0.5,
        smallImage: 'false'
      });
      console.dir(imageData);
      $('.hidden-image-data').val(imageData);
      // Print HTTP request params
      var formValue = $(this).serialize();
      $('#result-data').text(formValue);
      // Prevent the form from actually submitting
      // return false;
    });

$(document).ready(function(){
 
  $(".skip a").on('click',function(e){
    $('.skip').hide();
    $('.skip_crop').val("true");
    $('.cropit-preview').hide();
    $('.image-size-label').hide();
    $('.cropit-image-zoom-input').hide();
  });
});
      
    </script>
  </body>
</html>
