<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">All Testimonial</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div  class="panel-heading">All Products  </div>
                
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div  id="vendor_testimonial">
                    <%=render :partial => 'vendor_testimonial'%>
                    <!-- /.table-responsive -->
                </div>
                
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->