<!--Footer Area Start-->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="food-ordering">
        <div class="food-ordering-title">
          <h4>EateOye: 24/7 free online food ordering</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur.</p>
        </div>
         <ul class="list-unstyled list-inline">
          <li><a href="/aboutus">About</a></li>
          <li><a href="/contactus">Contact</a></li>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/contactus">Help</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="/policy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="newletters-title" >
        <h4>Subscribe to our newsletter:</h4>
        <div class="clear10"></div>
      </div>
      <div class="newletters-usp">
        <ul class="newletters-usp-list">
          <li>Don't miss out on our great offers</li>
          <li>Receive deals from all our top restaurants via e-mail</li>
        </ul>
      </div>
      <div class="form-inline">
      <%= form_tag("/newsletter", method: "post" ,:class => '')  do %>
        <div class="form-group">
          <%= select_tag :city, grouped_options_for_select(User::LOCATION_OPTIONS,'Lahore'), class: 'form-control', :placeholder=> "Enter a city" %>
        </div>        
        <div class="form-group">
         <input type="email" name="email_user" placeholder ="<%= t 'welcome.enteryouremail' %>"  class="form-control" required>
          
        </div>
        <button type="submit" class="btn btn-success">Signup now</button>
        <%end%>
      </div>
      <div class="checkbox">
        <label>
        <input type="checkbox" required="required"> I have read and accepted the 
          <a href="#">Terms and conditions</a> and <a href="#">Privacy policy</a>
        </label>
      </div>
    </div>
  </div>
</div>
<!--////////////////////////////////////////////////////////////////////////-->


<!--////////////////////////////////////////////////////////////////////////-->
<div class="clear40"></div>

<div class="footer">
  <div class="container">
    Copyrights &copy; 2017 - <a href="#">Eatdot</a> - All Rights Reserved.
  </div>
</div>
<!--Footer Area End-->
<%= javascript_include_tag 'all_frontend.js' %>

