<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h4>ABOUT</h4>
        <ul class="list-unstyled footer-about">
          <li><i class="fa fa-briefcase"></i> 184 Main Rd E, St Albans VIC 3021, Australia</li>
          <li><i class="fa fa-envelope-o"></i> <a href="mailto:contact@sonthing.com">contact@sonthing.com</a></li>
          <li><i class="fa fa-phone"></i> 123-456-789</li>
        </ul>
        <ul class="list-unstyled list-inline social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <h4>WHY BUY FROM US</h4>
        <ul class="list-unstyled">
          <li><a href="#">Gift Vouchers</a></li>
          <li><a href="#">Returns and Exchanges</a></li>
          <li><a href="#">Shipping Options</a></li>
          <li><a href="#">Delivery Policy</a></li>
          <li><a href="#">Help &amp; FAQs</a></li>
          <li><a href="#">Reward Points</a></li>
        </ul>

      </div>

      <div class="col-md-3 col-sm-6">

        <h4>MY ACCOUNT</h4>

        <ul class="list-unstyled">
          <li><a href="#">Sign In</a></li>
          <li><a href="#">View Cart</a></li>
          <li><a href="#">My Wishlist</a></li>
          <li><a href="#">Check Out</a></li>
          <li><a href="#">Track My Order</a></li>
          <li><a href="#">Help</a></li>
        </ul>

      </div>

      <div class="col-md-3 col-sm-6">

        <h4>SUBSCRIBE</h4>

        <p>Subscribe to our newsletter and receive email updates.</p>

        <div class="form-inline form-sub">
          <%= form_tag("/newsletter", method: "post" ,:remote => true, id: 'subscribe_form')  do %>
            <div class="input-group">
              <%= email_field_tag :email_user,'',placeholder: "Email Address", :required => true, class: 'form-control' %>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">SUBSCRIBE</button>
              </span>
            </div>
          <%end%>
        </div>

        <div class="clear20"></div>

        <p><img src="/assets/commerce/payment2.png" class="img-responsive"></p>

        </div>
    </div>
  </div>
  <div class="seperator"></div>
  <div class="container text-center copyrights">
    Copyrights &copy; 2017 - <a href="index.html">eCommerce Store</a> - All Rights Reserved. 
    <div class="clear5"></div>
    <ul class="list-unstyled list-inline">
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms & Conditions</a></li>
      <li><a href="#">Help</a></li>
    </ul>
  </div>
</div>

<%= render 'shared/login_popup'%>

<!--Footer Area End-->
<%= javascript_include_tag 'all_frontend.js' %>

