<!--Footer Area Start-->
<div class="footer-area">
    <!--Footer Top Area Start-->
    <div class="footer-top section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="footer-top-menu">
                        <h3 class="footer-widget-title">Categories</h3>
                        <ul class="toggle-footer">
                            <li><a href="shop.html">Bedroom</a></li>
                            <li><a href="shop.html">Livingroom</a></li>
                            <li><a href="shop.html">Lighting</a></li>
                            <li><a href="shop.html">Accessories</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="footer-top-menu">
                        <h3 class="footer-widget-title">Information</h3>
                        <ul class="toggle-footer">
                            <li><a href="shop.html">Specials</a></li>
                            <li><a href="shop.html">New products</a></li>
                            <li><a href="shop.html">Best sellers</a></li>
                            <li><a href="shop.html">Our stores</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="footer-top-menu">
                        <h3 class="footer-widget-title">My account</h3>
                        <ul class="toggle-footer">
                            <li><a href="#">My orders</a></li>
                            <li><a href="#">My credit slips</a></li>
                            <li><a href="#">My addresses</a></li>
                            <li><a href="#">My personal info</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="footer-top-menu">
                        <h3 class="footer-widget-title">EXTRAS</h3>
                        <ul class="toggle-footer">
                            <li><a href="#">Orders & Returns</a></li>
                            <li><a href="#">Search Terms</a></li>
                            <li><a href="#">Advance Search</a></li>
                            <li><a href="#">Affiliates</a></li>
                            <li><a href="#">Group Sales</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer Top Area Start-->
    <!--Footer Middle Area Start-->
    <div class="footer-middle section-padding2">
        <div class="container">
            <div class="row">
                <div class="footer-border-right col-lg-5 col-md-5 col-sm-6 col-xs-12 ">
                    <div class="footer-middle-content">
                        <a href="index.html"><img src="/assets/logo_footer.png" alt=""></a>
                        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit.</p>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="contact-area">
                        <h3 class="footer-widget-title">CONTACT US</h3>
						<div class="footer-info contact">
							<ul class="toggle-footer">
								<li>
									<i class="fa fa-map-marker"></i>
									<p>Marmora Road, Glasgow <br /> 89 GR, New York</p>
								</li>
								<li>
									<i class="fa fa-phone"></i>
									<p>Telephone: (+1) 855-456-3229 <br />Fax: (+1) 844-667-3229</p>
								</li>
								<li>
									<i class="fa fa-envelope-o"></i>
									Email: admin@yahoo.com
								</li>
								<li>
									<i class="fa fa-globe"></i>
								   Website: www.example.com
								</li>
							</ul>								
						</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 hidden-sm">
                    <div class="time-area">
                        <h3 class="footer-widget-title">OPENING TIME</h3>
                        <ul class="toggle-footer">
                            <li>
                                <span class="pull-left">Monday - Friday</span>
                                <span class="pull-right">9:00 - 22:00</span>
                            </li>
                            <li>
                                <span class="pull-left">Saturday</span>
                                <span class="pull-right">10:00 - 24:00</span>
                            </li>
                            <li>
                                <span class="pull-left">Sunday</span>
                                <span class="pull-right">12:00 - 24:00</span>
                            </li>
                        </ul>
                        <div class="paypal">
                            <img src="/assets/paypal.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer Middle Area Start-->
    <!--Footer Bottom Area Start-->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
					<p>Copyright <a href="#" target="_blank">Techverx</a> All rights reserved.</p>						
				</div>
            </div>
        </div>
    </div>
    <!--Footer Bottom Area End-->
</div>
<!--Footer Area End-->
<%= javascript_include_tag 'all_frontend.js' %>

