 <!-- Add your site or application content here -->
        <!-- Header Area Start -->
        <div class="header-area">
			<!-- Header Top Start -->
        	<div class="header-top">
        		<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="header-default pull-left">
								<p>Welcome to Demo Store!</p>
							</div>
						</div>
						<div class="col-lg-9 col-md-9 col-sm-12">
							<div class="header-top-right pull-right">
								
								<div class="header-user-info pull-right">
									<% if current_user %>
                    <a href="#" title="account">
  									   <i class="fa fa-user"></i> 
  									   My account
  									</a>
  									<a href="/users/sign_out" title="Sign out">
  									   <i class="fa fa-unlock-alt"></i> 
  									   Sign out
  									</a>
                  <%else%>
                    <a href="/users/sign_in" title="Sign in">
                       <i class="fa fa-unlock-alt"></i> 
                       Sign in
                    </a>
                  <%end%>
									<a href="#" title="check out">
									   <i class="fa fa-share-square-o"></i> 
									   Check out
									</a>
								</div>
							</div>
						</div>
					</div>
        		</div>
        	</div>
			<!-- Header Top End -->
			<!-- Header Bottom Start -->
        	<div class="header-bottom">
        	    <div class="container">
        	        <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<!-- Header Logo -->
                           <div class="header-logo">
                                <a href="index.html" title="logo">
                                    <img class="img-responsive" src="/assets/logo.png" alt="">
                                </a>
                           </div>
                        </div>
						<!--Header Bottom Right Start-->
						<div class="col-lg-2 col-md-2  col-sm-6 col-xs-12 header-right-inner">
						    <div class="header-bottom-right">
						        <div class="header-bottom-right-inner">
						            <ul>
						                <li>
					                    <a class="cart-toggler search-icon" href="javascript:void(0)">
					                        <i class="fa fa-search"></i>
					                    </a>
                              <div class="header-bottom-search">
                                <form class="search-box" action="#" method="POST">
                                  <div>
                                    <input type="text" value="" placeholder="Search" autocomplete="off">
                                    <button class="btn btn-search" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                  </div>
                                </form>						            
                              </div>
						                </li>
						                <li>
						                    <a class="cart-toggler mini-cart-icon" href="javascript:void(0)">
                                                <i class="fa fa-shopping-cart"></i>
						                        <span>2</span>
						                    </a>
                                            <div id="cart_list" class="cart-list">
                                                <div class="product">
                                                    <div class="cart-single-product">
                                                        <a class="product-image" href="#">
                                                            <img src="/assets/1.jpg" alt="">
                                                        </a>
                                                        <div class="product-details">
                                                            <a href="#" class="remove">
                                                                <i class="fa fa-times-circle"></i>
                                                            </a>
                                                            <div class="product-name">
                                                                <span class="quantity-formated">
                                                                    <span class="quantity">1</span>
                                                                    X
                                                                </span>
                                                                <a href="#" class="cart-block-product-name" title="Faded Short Sleeves T-shirt">Faded...</a>
                                                            </div>
                                                            <div class="product-atributes">
                                                                <a href="#" title="Product detail">S, Orange</a>
                                                            </div>
                                                            <div class="prices">
                                                                <span class="price">£ 16.84</span>
                                                            </div>
                                                        </div>                                                
                                                    </div>
                                                    <div class="cart-single-product">
                                                        <a class="product-image" href="#">
                                                            <img src="/assets/2.jpg" alt="">
                                                        </a>
                                                        <div class="product-details">
                                                            <a href="#" class="remove">
                                                                <i class="fa fa-times-circle"></i>
                                                            </a>
                                                            <div class="product-name">
                                                                <span class="quantity-formated">
                                                                    <span class="quantity">2</span>
                                                                    X
                                                                </span>
                                                                <a href="#" class="cart-block-product-name" title="Faded Short Sleeves T-shirt">Printed Dr...</a>
                                                            </div>
                                                            <div class="product-atributes">
                                                                <a href="#" title="Product detail">S, Orange</a>
                                                            </div>
                                                            <div class="prices">
                                                                <span class="price">£ 64.23</span>
                                                            </div>
                                                        </div>                                                
                                                    </div>												
                                                </div>
                                                <div class="cart-prices">
                                                    <div class="cart-prices-line first-line"></div>
                                                    <div class="cart-prices-line last-line">
                                                        <span>Total</span>
                                                        <span class="price pull-right">£ 48.04</span>
                                                    </div>
                                                </div>
                                                <p class="cart-buttons">
                                                    <a class="btn btn-default button-small" href="#" title="Check out">
                                                        <span>
                                                            Check out
                                                            <i class="fa fa-angle-right"></i>
                                                        </span>
                                                    </a>
                                                </p>
                                            </div>						                    
						                </li>
						            </ul>							            
						        </div>
						    </div>
						</div>
						<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
							<!-- Main Menu -->
							<div class="mainmenu">
								<nav>
									<ul>
										<li><a href="index.html">Home</a></li>
										<li><a href="shop.html">Shop</a></li>
										<li><a href="about.html">About Us</a></li>
										<li><a href="#">Blog</a></li>
										<li><a href="contact.html">Contact Us</a></li>
									</ul>
								</nav>
							</div>
							<!--Mian Menu End-->
						</div>
        	        </div>
        	    </div>
        	</div>
        	<!--Header Bottom End-->
        </div>

		<!-- Header Area End -->
		<!-- Mobile Menu Start -->
		<div class="mobile-menu-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="mobile-menu">
							<nav id="dropdown">
								<ul>
									    <li><a href="index.html">Home</a></li>
										<li><a href="shop.html">Shop</a></li>
										<li><a href="about.html">About Us</a></li>
										<li><a href="#">Blog</a></li>
										<li><a href="contact.html">Contact Us</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>		
		<!-- Mobile Menu End -->