<!-- change location Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Location</h4>
      </div>
      <div class="modal-body">
        <div class="mymodal-content">

        <div class="clear20"></div>
          <div class="text-center">
            <div class="form-inline">
              <div class="form-group">
                  <select class="form-control" placeholder="Enter a city">
                      <optgroup label="popular cities">
                      <option value="5">Islamabad</option>
                      <option value="3" selected="selected">Karachi</option>
                      <option value="4">Lahore</option>
                      <option value="6">Rawalpindi</option>
                      </optgroup>
                      <optgroup label="More Cities">
                        <option value="5185">Bahawalpur</option>
                        <option value="12">Faisalabad</option>
                        <option value="14">Gujranwala</option>
                        <option value="13">Hyderabad</option>
                        <option value="15">Jhelum</option>
                        <option value="19">Larkana</option>
                        <option value="30">Mangla</option>
                        <option value="10">Multan</option>
                        <option value="9">Peshawar</option>
                        <option value="32">Quetta</option>
                        <option value="16">Sargodha</option>
                        <option value="11">Sialkot</option>
                        <option value="17">Sukkur</option>
                      </optgroup>
                    </select>
              
              </div>
              
              <div class="form-group user-area">
                <i class="fa fa-map-marker fa-fw"></i>
                <input type="text" class="form-control" placeholder="Enter an area">
              </div>
              <button type="submit" class="btn btn-success"  data-dismiss="modal">Show Stores</button>
              <div class="clear20"></div>
              
            </div>
          </div>
      </div>
      </div>
      
    </div>

  </div>
</div> 

<!-- ////////////////////////////////////////////// -->