<div class="container">
  <div class="row">
    <div class="col-md-12">
        <!--Testimonial List-->
        <div class="testimonial-list indicator-button">
            <!--Single Testimonial-->
            <%@testimonials.each do |testi|%>
              <div class="single-testimonial">
                  <p><%=testi.description%></p>
                  <div class="testimonial-img">
                      <img src="<%=testi.image.avatar(:normal) rescue '/assets/testimonial/1.jpg' %>" alt="">
                  </div>
                  <div class="testimonial-title">
                      <h4><%=testi.name rescue '' %><span>-</span></h4>
                  </div>
              </div>
            <%end%>
        </div>
    </div>
  </div>
</div>