<div class="blog-area section-padding">
    <div class="container">
		<div class="section-title">
			<h4>from the blog</h4>
		</div>
        <div class="row">
            <div class="blog-list indicator-style">
                <div class="col-md-4">
                    <div class="single-blog">
                        <div class="blog-image">
                            <a href="blog-details.html">
                                <img src="/assets/blog/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-content">
                            <h5><a href="blog-details.html">Share the Love for PrestaShop 1.6</a></h5>
                            <div class="date-added">2015-12-28 04:28:04</div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-blog">
                        <div class="blog-image">
                            <a href="blog-details.html">
                                <img src="/assets/blog/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-content">
                            <h5><a href="blog-details.html">Answers to your Questions about...</a></h5>
                            <div class="date-added">2015-12-28 04:28:04</div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...</p>
                        </div>
                    </div>                   
                </div>
                <div class="col-md-4">
                    <div class="single-blog">
                        <div class="blog-image">
                            <a href="blog-details.html">
                                <img src="/assets/blog/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-content">
                            <h5><a href="blog-details.html">What is Bootstrap? – The History...</a></h5>
                            <div class="date-added">2015-12-28 04:28:04</div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-blog">
                        <div class="blog-image">
                            <a href="blog-details.html">
                                <img src="/assets/blog/4.jpg" alt="">
                            </a>
                        </div>
                        <div class="blog-content">
                            <h5><a href="blog-details.html">From Now we are certified web...</a></h5>
                            <div class="date-added">2015-12-28 04:28:04</div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>	        
    </div>
</div>