<div class="brand-area section-padding2">
    <div class="container">
        <div class="row">		            
            <div class="brand-list">
                <div class="col-md-12">
                    <div class="single-brand">
                        <a href="#"><img src="/assets/brand/1.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="single-brand">
                        <a href="#"><img src="/assets/brand/2.jpg" alt=""></a>
                    </div>
                </div> 
                <div class="col-md-12">
                    <div class="single-brand">
                        <a href="#"><img src="/assets/brand/3.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="single-brand">
                        <a href="#"><img src="/assets/brand/4.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="single-brand">
                        <a href="#"><img src="/assets/brand/5.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="single-brand">
                        <a href="#"><img src="/assets/brand/6.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="single-brand">
                        <a href="#"><img src="/assets/brand/7.jpg" alt=""></a>
                    </div>
                </div>                      
            </div>
        </div>
    </div>
</div>