<div class="owl-wrapper-custom">
  <div class="owl-carousel owl-theme">

  <% @vendors.each do |vendor|%>
    <div class="item">
    	<a href="/stores/<%= vendor.id%>"><img src="<%= vendor.avatar.url %>"></a>
    </div>
  <%end%>
  </div>
</div>