<div class="slider-area">
        <div class="slider-area">
            <div class="bend niceties preview-1">
				<div id="ensign-nivoslider-3" class="slides">   
				   <a href="#"><img src="/assets/slider/1.jpg" alt=""/></a>
				   <a href="#"> <img src="/assets/slider/2.jpg" alt=""/></a>
				</div>
            </div>
        </div>
</div>