<div class="container">
  <div class="section-caption">
    <h2>
      Top Food Delivery in Karachi, Lahore, Islamabad and Rawalpindi
    </h2>
  </div>
  <p>Hungry? Eatdot.com is the top online food delivery service in Pakistan with over 200,000 visitors every month.</p>
  <p>Eatdot assists thousands of its customers – avid diners and food aficionados – find restaurants, get-to-know the hot eateries, order food for FREE and pay better prices at top restaurants in all leading cities across Pakistan. 
    Eatdot was established by few hungry entrepreneurs in 2011 and since then it has never looked back. Eatdot,
    aims at making timely food deliveries, helps you in finding restaurants in your area, and makes online restaurant reservations (Karachi, Lahore, Islamabad and Rawalpindi), quick and easy.
  </p>
  <p>This Process is simple:</p>
  <ul class="listing">
    <li>Select your area.</li>
    <li>Pick the restaurant and order using our interactive menus.</li>
    <li>Sit back and wait for the food to be delivered.</li>
  </ul>
  <p>
    Yes! It is that easy.
  </p>
  <p>
    With Eatdot, you can order food online, without leaving your couch at home or 
    your desk at work. Eatdot is indeed the smartest way to order food. Eatdot comprises 
    of passionate individuals (you might know them from www.fcpakistan.com) dedicated to making dining 
    in or out a breeze. The company is headquartered in Karachi, Pakistan with staff in 
    Lahore and Islamabad. Now your food is definitely, one click away!
  </p>
</div>