<%= render 'banner_with_detail' %>
<%= render 'store_description' %>
<div class="container">
  <div class="section-caption">
    <h2>
      Popular Stores
    </h2>
  </div>
  <div id="popular_rest">
    <%= render 'popular_resturants' %>
  </div>
</div>
<div class="clear40"></div>

