<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/aboutus">About</a></li>
  </ol>
</div>
<div class="container">
  <h2 class="page-caption">About Us</h2>
  <h4 class="page-heading">Get to Know Eatdot</h4>
  <p>
    You wanted something simpler, so we made it. A small team of problem solvers, designers, thinkers and tinkers, work around the clock to make online food ordering easy, fast and fun. EatOye is on its way to become the most powerful online food ordering service in Pakistan. The service is available in Karachi, Lahore, Islamabad, Rawalpindi, Faisalabad, Sialkot, Multan, Hyderabad and Peshawar.
  </p>
  <h4 class="page-heading">Choose Eatdot</h4>
  <ul>
    <li>Can’t cook or won’t cook?</li>
    <li>Staying in the office for lunch?</li>
    <li>Tired of the same takeaways?</li>
    <li>Too Lazy to dine out?</li>
    <li>It all comes down to wanting fresh piping hot food.</li>
  </ul>
  <div class="clear20"></div>
  <p>
    EatOye has online menus from the staggering selection of delivery restaurants around you. Simply enter your area and search for cuisine type, restaurants or even price. The restaurant index also includes address and delivery hours so you are never mislead. EatOye App makes it all the more easy! Browse the menu on your smart phone, select, check-out and voila! The food arrives in time.
  </p>
</div>
<div class="clear30"></div>
<div class="clear40"></div>