<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/aboutus">About</a></li>
    <li class="active">Careers</li>
  </ol>
</div>
<div class="container">
  <h2 class="page-caption">Careers</h2>
  <div class="row">
    <div class="col-md-12">
      <h4 class="page-heading">We are Eatdot! A Brand of Sitename!</h4>
    </div>
    <div class="col-md-8">
      <p>foodpanda Pakistan, the leading mobile and online food ordering service, has been able to achieve immense growth and success over the years. The accomplishment is owed to the organization culture which consistently empowers its people by allowing them to work beyond conventional business practices.</p>
      <p>foodpanda Pakistan, the leading mobile and online food ordering service, has been able to achieve immense growth and success over the years. The accomplishment is owed to the organization culture which consistently empowers its people by allowing them to work beyond conventional business practices.</p>
    </div>
    <div class="col-md-4">
      <img src="/assets/frontend/contact-image.png" class="img-responsive center-block">
    </div>
  </div>
  <div class="clear20"></div>
  <div class="row">
    <div class="col-md-12">
      People at foodpanda have always believed in taking ownership of their roles. The organization takes great interest in developing its people which is coherent with company growth. 
      To porpagate this idea and to instigate a strong sense of ownership in future developments, foodpanda extends an opportunity by a internship program called LEAD YOUR WAY.
    </div>
    <div class="clear20"></div>
    <div class="col-md-12">
      Fill in our <u><strong><a href="#">Application Form</a></strong></u> to apply for different positions.
    </div>
  </div>
  <h4 class="page-heading">Lead Your Way</h4>
  <p>
    Lead Your Way program is based on dual stage of selection.
  </p>
  <h4 class="page-heading">Stage 1 - Intership program</h4>
  <p>
    <span>A six to eight weeks program designed to encourage project based learning, applicable for BBA/MBA students graduating in Spring or Summer 2015.</span>
  </p>
  <h4 class="page-heading">Stage 2 - Traineeship program</h4>
  <p>
    A three to six months training program aimed at advanced learning by selecting best performing interns to be given a chance to explore foodpanda operations in golbal markets. The selection process will be done by dividing successful trainees into two tiers:
  </p>
  <h4 class="page-heading">a) Tier 1</h4>
  <p>
    High performing interns will be offered traineeship program during which they will be given a chance to visit one of global foodpanda markets to work on a month based project.
  </p>
  <h4 class="page-heading">b) Tier 2</h4>
  <p>
    Interns showing good performance with room for improvement will be offered traineeship program during which they will be rotated among different functional teams to develop strong understanding of foodpanda Pakistan operations.
  </p>
  <p>
    Based on performance, trainees from Tier 1 &amp; 2 will be extended an employment opportunity at foodpanda.
  </p>
  <h4 class="page-heading">c) Tier 3</h4>
  <p>
    Interns showing good performance with room for improvement will be offered traineeship program during which they will be rotated among different functional teams to develop strong understanding of foodpanda Pakistan operations.
  </p>
  <p>
    Based on performance, trainees from Tier 1 &amp; 2 will be extended an employment opportunity at foodpanda.
  </p>
  <h4 class="page-heading">ELIGIBILITY CRITERIA</h4>
  <p>
    Students graduating in Spring or Summer 2015 from accredited institutes. Fresh MBA are also eligible to apply.
  </p>
</div>
<div class="clear30"></div>
<div class="clear40"></div>