<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/contactus">Contact</a></li>
  </ol>
</div>
<div class="container accordions-titles">
  <h2 class="page-caption">Contact and Help</h2>
  <div class="row">
    <div class="col-md-7">
      <div class="title-wrapper">
        <h2>FAQ's</h2>
      </div>
      <h2 class="category">Top Questions</h2>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <img src="/assets/frontend/arrow-right.png"><a data-toggle="collapse" data-parent="#accordion" href="#collapse1"> Where is my order?</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                After placing an order, we directly transfer it to the restaurant which will starts preparing your food.<br><br>
                Our restaurants do everything they can to get your food delivered as quickly as they can. However, sometimes they can get crazy busy or stuck in heavy traffic, and this unfortunately might cause delays.<br><br>
                If it’s been too long, you can contact us and we will find out what’s going on immediately.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <img src="/assets/frontend/arrow-right.png"><a data-toggle="collapse" data-parent="#accordion" href="#collapse2">I have a voucher code. How can I use it? </a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                If you have a voucher code, you can redeem it after selecting a restaurant and adding products to the basket. You will see a field to enter your voucher code on the page that shows an overview of your order. If a voucher is valid, the discount on your order will be calculated immediately. Only one voucher can be used per order.<br><br>
                If your voucher code does not work, feel free to contact us and we will sort this out.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <img src="/assets/frontend/arrow-right.png"><a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Are there any discounts available at Eatdot! right now?</a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                Eatdot! offers many different discounts at restaurants. If you want to view them all, have a look at <a href="#">Restaurants with Discounts </a> 
              </p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="category">Orderning</h2>
      <div class="panel-group" id="accordion2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <img src="/assets/frontend/arrow-right.png"><a data-toggle="collapse" data-parent="#accordion2" href="#collapse4">How to order online at Eatdot?</a>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                It is really easy, as easy as 1, 2, 3:<br><br>
                1. <i>Tell us where you are</i>: Enter your location so we can show you which restaurants can deliver to you.<br>
                2. <i>Pick food you fancy</i>: Choose a restaurant and dishes you’d like to order. You can search by restaurant name, cuisine type, dish name or any keyword. <br>
                3. <i>Checkout</i>: Enter your exact delivery address, payment method and your phone number. Always make sure you have entered a correct phone number in case we need to contact you about your order. <br><br>
                Now sit back, relax and we’ll get your food delivered to your doorsteps.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <img src="/assets/frontend/arrow-right.png"><a data-toggle="collapse" data-parent="#accordion2" href="#collapse5">I need to cancel or change my order! How can I do this? </a>
            </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                Just reach us at <a class="link-livechat" href="#">Live chat</a><br><br>
                That way, we can let the restaurant know before they start making your order.<br><br>
                With regards to any refund of a payment you have made online, please contact Eatdot! and not the restaurant. 
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <img src="/assets/frontend/arrow-right.png"><a data-toggle="collapse" data-parent="#accordion2" href="#collapse6">Do I have to create an account to place an order?</a>
            </h4>
          </div>
          <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                Not at all. You can order using our guest checkout without having to sign up. We make sure that ordering food online at Eatdot! is quick and fuss-free. After placing your order, you will have an option of creating an account.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <img src="/assets/frontend/arrow-right.png"><a data-toggle="collapse" data-parent="#accordion2" href="#collapse7"> How long does it take for my order to get delivered? </a>
            </h4>
          </div>
          <div id="collapse7" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                Delivery time varies from restaurant to restaurant. It also depends on the number of orders that the restaurant has to prepare and on the distance between the restaurant and your delivery address.<br><br>
                On the website you can see estimated delivery time of each restaurant in your location. After placing an order, more precise delivery time will be communicated to you by SMS.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <img src="/assets/frontend/arrow-right.png"><a data-toggle="collapse" data-parent="#accordion2" href="#collapse8">What are the delivery costs?</a>
            </h4>
          </div>
          <div id="collapse8" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                Delivery costs just like delivery time, are determined by each individual restaurant. Usually the ones closer to you will charge a small delivery fee. If a delivery rider has to drive a long way to bring you the food, they can charge a little extra for the service. There are also many restaurants with a free delivery. You can easily check the delivery costs of each restaurant while browsing our website.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <img src="/assets/frontend/arrow-right.png"><a data-toggle="collapse" data-parent="#accordion2" href="#collapse9">How can I pay for my order? </a>
            </h4>
          </div>
          <div id="collapse9" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                All our restaurants accept cash on delivery. In addition, there are various online payment methods available. You can check which payment methods are accepted at each restaurant by going to the ‘Info’ tab on the restaurant’s page.<br><br>
                Cash on Delivery<br><br>
                Select ‘Cash on Delivery’ on the checkout page and pay the driver at your doorstep when receiving food.<br><br>
                Credit Card on Delivery<br><br>
                Select ‘Online Payment’ on the checkout page. After placing your order you will be redirected to the secure page of our payment partner, where you can follow its instructions. Once the payment is confirmed, the order will be transmitted to the restaurant. 
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <img src="/assets/frontend/arrow-right.png"><a data-toggle="collapse" data-parent="#accordion2" href="#collapse10"> Why is ordering online better than ordering by phone? </a>
            </h4>
          </div>
          <div id="collapse10" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                Online ordering at Eatdot! provides several advantages over telephone based ordering.<br><br>
                1. <i>Discover</i>: We offer a wide choice of restaurants and their menu online so you don’t have to collect menu of each individual restaurant or stick to just one of them. Every day you can discover new restaurants and new tastes.<br>
                2. <i>Take your time</i>: You have as much time as you need to decide what to eat today instead of listening to someone speak out the entire menu to you and making a decision on the spot.<br>
                3. <i>Know what you get</i>: We help you make the right choice by providing customer reviews and ratings.<br>
                4. <i>Pay as you like</i>: If you order at Eatdot!, you are not limited to paying by cash on delivery. You can easily and safely pay online using your credit card.<br>
                5. You can view details of all your past orders and easily re-order.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <img src="/assets/frontend/arrow-right.png"><a data-toggle="collapse" data-parent="#accordion2" href="#collapse11">Can I place an order worth Rs.5000 or above?  </a>
            </h4>
          </div>
          <div id="collapse11" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                Yes, you can. But all orders made for Rs.5000 or above will require advance payment. After you place an order, a delivery rider will promptly be sent to you for collection of cash.
              </p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="category">How It Works</h2>
      <div class="panel-group" id="accordion5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <img src="/assets/frontend/arrow-right.png"><a data-toggle="collapse" data-parent="#accordion5" href="#collapse12">What is Eatdot?</a>
            </h4>
          </div>
          <div id="collapse12" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                Eatdot! is a convenient online food ordering website that connects users with thousands of local restaurants. Customers can browse through numerous menus and place orders for delivery or take-away at the best price.<br><br>
                At Eatdot!, we believe ordering food online should be fuss-free, fast and definitely fun. With just a few clicks you can order from a wide variety of delicious cuisines online.<br><br>
                Eatdot! provides you with restaurant menus, customers’ reviews and more for over 1500 restaurants spread over 9 cities.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <img src="/assets/frontend/arrow-right.png"><a data-toggle="collapse" data-parent="#accordion5" href="#collapse13">How can I see all restaurants? </a>
            </h4>
          </div>
          <div id="collapse13" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                If you want to view all restaurants, just go to: <a href="#">Restaurant List</a>. You have an option there to enter your location to check which restaurants can deliver to you.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <img src="/assets/frontend/arrow-right.png"><a data-toggle="collapse" data-parent="#accordion5" href="#collapse14">What are your opening hours? </a>
            </h4>
          </div>
          <div id="collapse14" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                Eatdot! is open for 24/7 from Monday to Sunday.<br><br>
                During closing hours you can browse restaurants and place order for later.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <img src="/assets/frontend/arrow-right.png"><a data-toggle="collapse" data-parent="#accordion5" href="#collapse15">Why am I getting a message that a restaurant does not deliver to me? </a>
            </h4>
          </div>
          <div id="collapse15" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                The delivery area depends on each individual restaurant and Eatdot! has no influence on this. If you enter a specific address on the homepage, then you can browse all the restaurants that do deliver to you.
              </p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="category">My Account</h2>
      <div class="panel-group" id="accordion8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <img src="/assets/frontend/arrow-right.png"><a data-toggle="collapse" data-parent="#accordion8" href="#collapse16">I don’t remember my password </a>
            </h4>
          </div>
          <div id="collapse16" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                You have already created an account but you can't remember your password? Click on 'Login/Register' at the top of the page. Then click on 'Forgot Password?'. Fill out your email address and a password recovery link will be sent to you by email.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <img src="/assets/frontend/arrow-right.png"><a data-toggle="collapse" data-parent="#accordion8" href="#collapse17">What are the advantages of an account at Eatdot </a>
            </h4>
          </div>
          <div id="collapse17" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                You are not obliged to create an account, but it is very handy.<br><br>
                There are definitely a few advantages of signing up:<br><br>
                1. Your previous delivery addresses will be saved so that you don't have to enter them all over again on your next order.<br>
                2. You can track the history of every order with their details in your account<br>
                3. You can quickly re-order.<br><br>
                There are many more advantages... register with us and discover them. 
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <img src="/assets/frontend/arrow-right.png">
              <a data-toggle="collapse" data-parent="#accordion8" href="#collapse18">How can I create an account at </a>
            </h4>
          </div>
          <div id="collapse18" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                Click on 'Login/Register' at the top of the page. Then fill out all information in the ‘Create an account’ section and click the ‘Register’ button. You can also create an account directly after placing an order. You delivery address and the order will be then saved in your account.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="right-part">
        <div class="title-wrapper">
          <h2>Contact our customer service</h2>
        </div>
        <br>
        <table class="phone">
          <tbody>
            <tr>
              <td>
                <span class="boldtext chaticon"><img src="/assets/frontend/chat.png"><a class="link-livechat" href="#">Live chat</a>
                </span> | Chat with us
              </td>
            </tr>
            <tr>
              <td>
                <span class="boldtext emailicon"><img src="/assets/frontend/email.png"> <a href="#">support@sitename.com</a></span> | Email us
              </td>
            </tr>
          </tbody>
        </table>
        <div class="title-wrapper">
          <h2>Are You a restaurant?</h2>
        </div>
        <div class="margin-div">
          <p class="margin-parm">
            Do you want yourself listed on Eatdot!?
            Are you already our partner and have questions regarding our service?
          </p>
          <div class="boldtext">
            <span>You can always send an email to:<br>
            <a href="#">restaurants@ eatdot.pk</a>
            </span>
          </div>
        </div>
        <div class="title-wrapper">
          <h2>You have a press enquiry?</h2>
        </div>
        <div class="margin-div">
          <p class="margin-parm">
            Do you want to write about Eatdot!?
            Do you need pictures, logos or interviews?
          </p>
          <div class="boldtext">
            <span>Feel free to email us:<br>
            <a href="#">press@sitename.com</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear30"></div>
<div class="clear40"></div>