<center>
   <br>
   <h1>SHOPPING CART</h1>
   <p>Customer Service Questions? +92 42 3 5241207-8</p>
</center>

<hr><br><br>
      
<% if @current_order and @current_order.line_items.present? %>      
<div class="container">
    <div class="row">
        <div class="table-responsive forms">
            <%= render 'cart_table' %>
        </div>
    </div>
</div>      
<%else%>
   <center>
      <br>
      <h1>CART EMPTY</h1>
      <a type="button" class="btn btn-default" href="/">
          <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
      </a>
   </center><br><br>

   <br><br>
<%end%>
<br><br><br><br>


