<center>
   <br>
   <h1>SHOPPING CART</h1>
   <p>Customer Service Questions? +92 42 3 5241207-8</p>
</center>

<hr><br><br>
<div id="main_cart">
   <%= render 'cart_table' %>
</div> 

 
<br><br><br><br>


