
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Select Currency Form
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                    <%@store = Store.first%>
                        <%= form_for(@store, :url => admin_store_setting_path(@store)) do |f| %>
                            
                            <div class="form-group">
                               <%=f.label :currency%>
                               <br>
                               <%=f.select :currency,  currency_codes, class: 'form-control' , placeholder: 'Enter name' %>
                                <%#=f.text_field :currency ,class: 'form-control', placeholder: 'Enter name'%>
                            </div>
                            <%= f.submit 'Submit Button', class: "btn btn-default" %>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                            <a  href="/admin/users" class="btn btn-default">Back</a>
                        <%end%>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->