<li  class="pagination-next" id="pagination-next-bottom">
  <sa style="position:relative; top:3px;">
  	<%= link_to_unless current_page.last?, 'Next ', url, :rel => 'next', :remote => remote  %> <i class="fa fa-chevron-right pagination-next"></i>
  </sa>
</li>