<li class="pagination-previous" id="pagination-previous-bottom">
	
  <%= link_to_unless current_page.first?, ' Previous', url, :rel => 'Previous', :remote => remote,:class =>'fa fa-chevron-left' %>
</li>
