<div class="col-md-3">
<div class="basket">

<h4 class="rokkitt title">Recently Added Items</h4>

<div class="clear10"></div>

<div class="row">

 <div class="col-md-8">Location: LS1 3-Leeds</div>

 <div class="col-md-4 change-location-2">
   <a href="#" class="pull-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-refresh fa-fw"></i> Change</a>
 </div>

</div>

<div class="clear10"></div>

<div class="order-type">
<div class="row">
  <div class="col-xs-12"><div class="margin-top-custom-1">Order Type</div></div>

  <div class="col-xs-6">
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" value="option1" checked="">Delivery
      </label>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="radio">
      <label>
        <input type="radio" name="optionsRadios" value="option2">Collection
      </label>
    </div>
  </div>

</div>
</div>


<div class="clear10"></div>

<div class="cart-products">



<div class="product-block">

  <table class="table borderless">
    <thead>
      <tr>
        <td class="main-product">MARINARA <small>(12 inch)</small></td>
        <td>3 <a href="#"><i class="fa fa-times fa-fw"></i></a></td>
        <td class="text-right">£47.80</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="sub-products">Rosemary Chicken</td>
        <td>£100</td>
        <td></td>
      </tr>
      <tr>
        <td class="sub-products">Sweetcorn</td>
        <td>£100</td>
        <td></td>
      </tr>
      <tr>
        <td class="sub-products">Aubergines</td>
        <td>£100</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="action-boxes">
    <a href="#"><i class="fa fa-minus fa-fw"></i></a>
    <span>3</span>
    <a href="#"><i class="fa fa-plus fa-fw"></i></a>
    <a href="#" class="transparent"><i class="fa fa-times fa-fw"></i></a>
  </div>

</div>






<div class="product-block">

  <table class="table borderless">
    <thead>
      <tr>
        <td class="main-product">MARINARA <small>(12 inch)</small></td>
        <td>3 <a href="#"><i class="fa fa-times fa-fw"></i></a></td>
        <td class="text-right">£47.80</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="sub-products">Rosemary Chicken</td>
        <td>£100</td>
        <td></td>
      </tr>
      <tr>
        <td class="sub-products">Sweetcorn</td>
        <td>£100</td>
        <td></td>
      </tr>
      <tr>
        <td class="sub-products">Aubergines</td>
        <td>£100</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="action-boxes">
    <a href="#"><i class="fa fa-minus fa-fw"></i></a>
    <span>3</span>
    <a href="#"><i class="fa fa-plus fa-fw"></i></a>
    <a href="#" class="transparent"><i class="fa fa-times fa-fw"></i></a>
  </div>

</div>

<div class="clear"></div>

<div class="calculation">

  <div class="pull-left">Delivery</div>
  <div class="pull-right"><strong>FREE</strong></div>

  <div class="clear"></div>

  <div class="pull-left">Discount</div>
  <div class="pull-right"><strong>£00.00</strong></div>             

  <div class="clear"></div>

  <div class="pull-left red">Total</div>
  <div class="pull-right red"><strong>£95.6</strong></div>

</div>

<div class="clear20"></div>

<div class="text-center">
  <a href="checkout-1.html">
    <button class="btn btn-checkout">PROCEED TO CHECK OUT</button>
  </a>

</div>
<div class="clear"></div>


</div>

<div class="clear10"></div>

</div>
</div>