<!-- Modal -->
<div class="modal fade" id="add-to-cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title" id="exampleModalLongTitle">Choose Product choices..</h4>
      </div>
      <div class="modal-body">
            
            <div class="border-me row">
               
              <div class="col-md-12">
                <h5>Exclusive Deal</h5>
              </div>

              <div class="deal-title col-md-8">
                <h6>14 inch large pizza,salad & 1.5 ltr soft drink</h6>
              </div>
              
              <div class="quantity-column col-md-2 text-center">
                  <h6>Quantity</h6>
                  <div class="form-group">
                    <input type="text" name="quantity" class="form-control">
                  </div>
              </div>
              
              <div class="price-column col-md-2 text-center">
                <h6>Size</h6>
                  <div class="form-group">
                    <!-- <input type="text" name="size" class="form-control"> -->
                    <select class="form-control">
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4</option>
                      <option value="">5</option>
                      <option value="">6</option>
                    </select>
                  </div>
              </div>

            </div>

      </div>      

          <div class="first-category">
            <div class="center-text-div">
              <h4>Choose Your item</h4>
              <h6>Minimum 1 and Maximun 1</h6>
            </div>
            
            <ul class="list-unstyled collapseli">
              <li class="list-inline">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="">Super Supreme
                    </label>
                    
                  </div>
                    
                  
                </div>
              </li>
              <li class="list-inline">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="">Chicken Supreme
                    </label>
                    
                  </div>
                    
                </div>
              </li>
              <li class="list-inline">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="">Beef Supreme
                    </label>
                    
                  </div>
                   
                </div>
              </li>
           
              <li class="list-inline">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="">Cheese Lover
                    </label>
                    
                  </div>
              </li>
              <li class="list-inline">
                <div class="form-group">
                   <div class="checkbox">
                    <label>
                      <input type="checkbox" name="">Creamy tikka
                    </label>
                    
                  </div>
                  
                </div>
              </li>
              <li class="list-inline">
                <div class="form-group">
                   <div class="checkbox">
                    <label>
                      <input type="checkbox" name="">Hot Creamy
                    </label>
                    
                  </div>
               
                </div>
              </li>
              <li class="list-inline">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="">Ranch
                    </label>
                    
                  </div>
                </div>
              </li>
              <li class="list-inline">
                <div class="form-group">
                   <div class="checkbox">
                    <label>
                      <input type="checkbox" name="">Euro
                    </label>
                    
                  </div>
                  
                </div>
              </li>
              <li class="list-inline">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="">Chicken Fajita
                    </label>
                    
                  </div>
               
                </div>
              </li>
              <li class="list-inline">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="">Fajita sicilian
                    </label>
                    
                  </div>
                </div>
              </li>
              <li class="list-inline">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="">Chicken tikka
                    </label>
                    
                  </div>
                </div>
              </li>
              <li class="list-inline">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="">Veggie Lover
                    </label>
                    
                  </div>
                  
                </div>
              </li>
            </ul>
      </div>      <!-- /////////////////////// first category ends here -->
    
        <div class="second-category">
           <div class="center-text-div">
              <h4>Choose Your item</h4>
              <h6>Minimum 1 and Maximun 1</h6>
            </div>
            
            <ul class="list-unstyled collapseli">
              <li class="list-inline">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="">Diet 7 Up
                    </label>
                    
                  </div>
                </div>
              </li>
              <li class="list-inline">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="">Diet pepsi
                    </label>
                    
                  </div>
                
                </div>
              </li>
              <li class="list-inline">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="">pepsi
                    </label>
                    
                  </div>
                </div>
              </li>
              <li class="list-inline">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="">mirenda
                    </label>
                    
                  </div>
                </div>
              </li> 
               <li class="list-inline">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="">7 up
                    </label>
                    
                  </div>
                </div>
              </li>
               <li class="list-inline">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="">mountain due
                    </label>
                    
                  </div>
                 
                </div>
              </li>  



        </div>   <!-- ////////////////second category ends here -->
          <div class="modal-footer">
      
        <button type="button" class="btn btn-primary">CONTINUE</button>
      </div>
    </div>
         
    
  </div> 
</div>