  <div class="tab-pane" id="info">
  <div class="clear20"></div>
    <div class="row">  
      <div class="col-md-8">
        <h3>Johar Town</h3>
          <div class="clear20"></div>
        <img src="/assets/commerce/fake-map.png" class="img-responsive ceter-blocked">
      </div>
      <div class="col-md-4 md-margin-top">
        <div class="vendor-schedules-info">
                 <div class="schedules-title">
                   <i class="fa fa-clock-o" aria-hidden="true"></i>
                   <span class="same-styling">Delivery Hours</span>
                 </div>
                 <div class="clear20"></div>
                 <ul class="schedules list-unstyled">
                   <li>
                     <span class="schedule-item-day">Monday</span>
                     <span class="schedule-item-time">11:30-02:30</span>
                   </li>
                  <li>
                     <span class="schedule-item-day">Tuesday</span>
                     <span class="schedule-item-time">11:30-02:30</span>
                   </li>
                    <li>
                     <span class="schedule-item-day">Wednesday</span>
                     <span class="schedule-item-time">11:30-02:30</span>
                   </li>
                  <li>
                     <span class="schedule-item-day">Thursday</span>
                     <span class="schedule-item-time">11:30-02:30</span>
                   </li>
                    <li>
                     <span class="schedule-item-day">Friday</span>
                     <span class="schedule-item-time">11:30-02:30</span>
                   </li>
                  <li>
                     <span class="schedule-item-day">Saturday</span>
                     <span class="schedule-item-time">11:30-02:30</span>
                   </li>
                   <li>
                     <span class="schedule-item-day">Sunday</span>
                     <span class="schedule-item-time">11:30-02:30</span>
                   </li>

                 </ul>
               </div>
      </div>
    </div>    
  </div>
  <div class="clear40"></div>