<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#menu" role="tab" data-toggle="tab">MENU</a></li>
  <li><a href="#reviews" role="tab" data-toggle="tab">REVIEWS</a></li>
  <li><a href="#info" role="tab" data-toggle="tab">INFO</a></li>
</ul>
<div class="clear20"></div>