<div class="tab-pane active" id="menu">


  <div class="clear20"></div>
  <div class="row">
    <div class="col-md-2">
     <%= render 'search_filter'%>
    </div>
    <div class="col-md-7">
      <div class="menu">
        <div class="menu-category">
          <h3 class="Limited-time-offer" id="link1">Limited Time Offer</h3>
          <div class="row"> 
            <div class="Exclusive-menu">
              <div class="col-md-12">
                <h4 class="menu-item-title">Exclusive Deal</h4>
              </div>
              <div class="col-xs-9">
                14 inch Large pizza,salad and 1.5 ltr Soft Drink
              </div>
            </div> 
            <div class="col-xs-3">
              <ul class="list-inline"> 
                <li>Rs. 1,399</li>
                <li> <i data-toggle="modal" data-target="#add-to-cart"
                 class="fa fa-plus-circle pointer" aria-hidden="true"></i></li>
               </ul>
             </div>
           </div>
         </div>

         <div class="menu-category-header">
          <h2 id="link2">Exclusive Discounted Deals</h2>
          <img src="/assets/commerce/label-1.jpg" class="img-responsive center-block">
        </div>
        <div class="menu-items">
          <div class="clear20"></div>




          <div class="row deal-block">
            <div class="col-md-12">
             <h4>Deal Name</h4>
           </div>
           <div class="col-md-6 col-xs-12">
            6 Inch personal pizza & 300ml soft drink
          </div>
          <div class="col-md-3 col-xs-6">
            Serves 1
          </div>
          <div class="col-md-3 col-xs-6">
            <ul class="list-inline">
              <li>Rs. 299</li>
              <li><i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i></li>
            </ul>
          </div>
        </div>

        <div class="row deal-block">
          <div class="col-md-12">
           <h4>Deal Name</h4>
         </div>
         <div class="col-md-6 col-xs-12">
          6 Inch personal pizza & 300ml soft drink
        </div>
        <div class="col-md-3 col-xs-6">
          Serves 1
        </div>
        <div class="col-md-3 col-xs-6">
          <ul class="list-inline">
            <li>Rs. 299</li>
            <li><i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i></li>
          </ul>
        </div>
      </div>

      <div class="row deal-block">
        <div class="col-md-12">
         <h4>Deal Name</h4>
       </div>
       <div class="col-md-6 col-xs-12">
        6 Inch personal pizza & 300ml soft drink
      </div>
      <div class="col-md-3 col-xs-6">
        Serves 1
      </div>
      <div class="col-md-3 col-xs-6">
        <ul class="list-inline">
          <li>Rs. 299</li>
          <li><i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>

    <div class="row deal-block">
      <div class="col-md-12">
       <h4>Deal Name</h4>
     </div>
     <div class="col-md-6 col-xs-12">
      6 Inch personal pizza & 300ml soft drink
    </div>
    <div class="col-md-3 col-xs-6">
      Serves 1
    </div>
    <div class="col-md-3 col-xs-6">
      <ul class="list-inline">
        <li>Rs. 299</li>
        <li><i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i></li>
      </ul>
    </div>
  </div>

  <div class="row deal-block">
    <div class="col-md-12">
      <h4>Deal Name</h4>
   </div>
    <div class="col-md-6 col-xs-12">
      6 Inch personal pizza & 300ml soft drink
    </div>
    <div class="col-md-3 col-xs-6">
      Serves 1
    </div>
    <div class="col-md-3 col-xs-6">
      <ul class="list-inline">
        <li>Rs. 299</li>
        <li><i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i></li>
      </ul>
    </div>
  </div>



  <div class="clear30"></div>

  <div class="menu-category-header">
    <h2 id="link3">Sideline and starters</h2>
    <img src="/assets/commerce/label-2.jpg" class="img-responsive center-block">
  </div>
  <div class="clear20"></div>



  <div class="row deal-block">
    <div class="col-md-12">
     <h4>Deal Name</h4>
   </div>
   <div class="col-md-6 col-xs-12">
    6 Inch personal pizza & 300ml soft drink
  </div>
  <div class="col-md-3 col-xs-6">
    Serves 1
  </div>
  <div class="col-md-3 col-xs-6">
    <ul class="list-inline">
      <li>Rs. 299</li>
      <li><i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i></li>
    </ul>
  </div>
</div>


<div class="row deal-block">
  <div class="col-md-12">
   <h4>Deal Name</h4>
 </div>
 <div class="col-md-6 col-xs-12">
  6 Inch personal pizza & 300ml soft drink
</div>
<div class="col-md-3 col-xs-6">
  Serves 1
</div>
<div class="col-md-3 col-xs-6">
  <ul class="list-inline">
    <li>Rs. 299</li>
    <li><i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i></li>
  </ul>
</div>
</div>


<div class="row deal-block">
<div class="col-md-12">
 <h4>Deal Name</h4>
</div>
<div class="col-md-6 col-xs-12">
6 Inch personal pizza & 300ml soft drink
</div>
<div class="col-md-3 col-xs-6">
Serves 1
</div>
<div class="col-md-3 col-xs-6">
<ul class="list-inline">
  <li>Rs. 299</li>
  <li><i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i></li>
</ul>
</div>
</div>


<div class="row deal-block">
<div class="col-md-12">
<h4>Deal Name</h4>
</div>
<div class="col-md-6 col-xs-12">
6 Inch personal pizza & 300ml soft drink
</div>
<div class="col-md-3 col-xs-6">
Serves 1
</div>
<div class="col-md-3 col-xs-6">
<ul class="list-inline">
<li>Rs. 299</li>
<li><i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i></li>
</ul>
</div>
</div>


<div class="row deal-block">
<div class="col-md-12">
<h4>Deal Name</h4>
</div>
<div class="col-md-6 col-xs-12">
6 Inch personal pizza & 300ml soft drink
</div>
<div class="col-md-3 col-xs-6">
Serves 1
</div>
<div class="col-md-3 col-xs-6">
<ul class="list-inline">
<li>Rs. 299</li>
<li><i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i></li>
</ul>
</div>
</div>





<div class="clear30"></div>
<div class="menu-category-header">
<h2 id="link4">Pizza</h2>
<img src="/assets/commerce/label-3.jpg" class="img-responsive center-block">
</div>
<div class="clear20"></div>



<div class="row deal-block">
<div class="col-md-12">
<h4>Deal Name</h4>
</div>
<div class="col-md-6 col-xs-12">
6 Inch personal pizza & 300ml soft drink
</div>
<div class="col-md-3 col-xs-6">
Serves 1
</div>
<div class="col-md-3 col-xs-6">
<ul class="list-inline">
<li>Rs. 299</li>
<li><i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i></li>
</ul>
</div>
</div>


<div class="row deal-block">
<div class="col-md-12">
<h4>Deal Name</h4>
</div>
<div class="col-md-6 col-xs-12">
6 Inch personal pizza & 300ml soft drink
</div>
<div class="col-md-3 col-xs-6">
Serves 1
</div>
<div class="col-md-3 col-xs-6">
<ul class="list-inline">
<li>Rs. 299</li>
<li><i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i></li>
</ul>
</div>
</div>

<div class="row deal-block">
<div class="col-md-12">
<h4>Deal Name</h4>
</div>
<div class="col-md-6 col-xs-12">
6 Inch personal pizza & 300ml soft drink
</div>
<div class="col-md-3 col-xs-6">
Serves 1
</div>
<div class="col-md-3 col-xs-6">
<ul class="list-inline">
<li>Rs. 299</li>
<li><i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i></li>
</ul>
</div>
</div>

<div class="row deal-block">
<div class="col-md-12">
<h4>Deal Name</h4>
</div>
<div class="col-md-6 col-xs-12">
6 Inch personal pizza & 300ml soft drink
</div>
<div class="col-md-3 col-xs-6">
Serves 1
</div>
<div class="col-md-3 col-xs-6">
<ul class="list-inline">
<li>Rs. 299</li>
<li><i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i></li>
</ul>
</div>
</div>

<div class="row deal-block">
<div class="col-md-12">
<h4>Deal Name</h4>
</div>
<div class="col-md-6 col-xs-12">
6 Inch personal pizza & 300ml soft drink
</div>
<div class="col-md-3 col-xs-6">
Serves 1
</div>
<div class="col-md-3 col-xs-6">
<ul class="list-inline">
<li>Rs. 299</li>
<li><i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i></li>
</ul>
</div>
</div>










<div class="clear30"></div>
<div class="menu-category-header">
<h2 id="link5">Sandwiches</h2>
</div>
<div class="clear20"></div>

<div class="row deal-block">
<div class="col-md-12">
<h4>Deal Name</h4>
</div>
<div class="col-md-6 col-xs-12">
6 Inch personal pizza & 300ml soft drink
</div>
<div class="col-md-3 col-xs-6">
Serves 1
</div>
<div class="col-md-3 col-xs-6">
<ul class="list-inline">
<li>Rs. 299</li>
<li><i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i></li>
</ul>
</div>
</div>




<div class="clear30"></div>
<div class="menu-category-header">
<h2 id="link6">Beverages</h2>
<img src="/assets/commerce/label-4.jpg" class="img-responsive center-block">
</div>

<div class="clear20"></div>


<div class="row deal-block">
<div class="col-md-12">
<h4>Deal Name</h4>
</div>
<div class="col-md-6 col-xs-12">
6 Inch personal pizza & 300ml soft drink
</div>
<div class="col-md-3 col-xs-6">
Serves 1
</div>
<div class="col-md-3 col-xs-6">
<ul class="list-inline">
<li>Rs. 299</li>
<li><i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i></li>
</ul>
</div>
</div>



<div class="row deal-block">
<div class="col-md-12">
<h4>Deal Name</h4>
</div>
<div class="col-md-6 col-xs-12">
6 Inch personal pizza & 300ml soft drink
</div>
<div class="col-md-3 col-xs-6">
Serves 1
</div>
<div class="col-md-3 col-xs-6">
<ul class="list-inline">
<li>Rs. 299</li>
<li><i data-toggle="modal" data-target="#add-to-cart" class="fa fa-plus-circle pointer" aria-hidden="true"></i></li>
</ul>
</div>
</div>












</div>


</div>

</div>
<%= render 'basket'%>
</div>



</div>