<ul class="category-list list-unstyled go-to-menu">
  <li class="active" id="golink1"><a href="#">Limited Time Offer</a></li>
  <li id="golink2"><a href="#">Exclusive Discounted Deals</a></li>
  <li id="golink3"><a href="#">Sideline and starters</a></li>
  <li id="golink4"><a href="#">Pizza</a></li>
  <li id="golink5"><a href="#">Sandwiches</a></li>
  <li id="golink6"><a href="#">Beverages</a></li>
</ul>