/*
*= require frontend/bootstrap.min

*= require frontend/bootstrap-theme.min
*= require frontend/font-awesome.min
*= require frontend/pe-icon-7-stroke
*= require frontend/owl.carousel
*= require frontend/owl.theme
*= require frontend/owl.transitions
*= require frontend/nivo-slider
*= require frontend/preview
*= require frontend/jquery-ui
*= require frontend/meanmenu.min
*= require frontend/animate
*= require frontend/jquery.bxslider
*= require frontend/venobox
*= require frontend/normalize
*= require frontend/main
*= require frontend/style
*= require frontend/responsive
*= require frontend/dataTables.bootstrap
*= require frontend/flexslider
*= require frontend/dataTables.responsive	 



*/