<div class="characteristics">
          <div class="filters-title">
            <i class="fa fa-sliders fa-rotate-270"></i> <span>Restaurants</span>
          </div>
          <ul class="list-unstyled">
            <li>
              <a href="#">
              free delivery
              </a>
            </li>
            <li>
              <a href="#">
              Deals
              </a>
            </li>
            <li>
              <a href="#">
              Open Restaurants
              </a>
            </li>
            <li>
              <a href="#">
              Online Payment avaliable
              </a>
            </li>
            <li>
              <a href="#">
              fast delivery
              </a>
            </li>
            <li>
              <a href="#">
              Resturants own delivery
              </a>
            </li>
          </ul>
        </div>
        <div class="characteristics">
          <div class="filters-title">
            <i class="fa fa-cutlery"></i> <span>Cuisines</span>
          </div>
          <ul class="list-unstyled">
            <li>
              <a href="#">
              fast food
              </a>
            </li>
            <li>
              <a href="#">
              Pizza
              </a>
            </li>
            <li>
              <a href="#">
              Pakistani
              </a>
            </li>
            <li>
              <a href="#">
              BBQ & Grills
              </a>
            </li>
            <li>
              <a href="#">
              Chinese
              </a>
            </li>
            <li>
              <a href="#">
              Dessert
              </a>
            </li>
            <li>
              <a href="#">
              Italian
              </a>
            </li>
            <li>
              <a href="#">
              Seafood
              </a>
            </li>
            <li>
              <a href="#">
              Beverages
              </a>
            </li>
            <li>
              <a href="#">
              Cake
              </a>
            </li>
            <li>
              <a href="#">
              Steaks
              </a>
            </li>
            <li>
              <a href="#">
              cafe
              </a>
            </li>
            <li>
              <a href="#">
              Fried chicken
              </a>
            </li>
            <li>
              <a href="#">
              Healthy fast food
              </a>
            </li>
            <li>
              <a href="#">
              Sandwiches
              </a>
            </li>
            <li>
              <a href="#">
              Afghan
              </a>
            </li>
            <li>
              <a href="#">
              Arabic
              </a>
            </li>
            <li>
              <a href="#">
              Bakery
              </a>
            </li>
            <li>
              <a href="#">
              Burgers
              </a>
            </li>
            <li>
              <a href="#">
              Flame grilled chicken experts
              </a>
            </li>
            <li>
              <a href="#">
              Icecream
              </a>
            </li>
            <li>
              <a href="#">
              Indian
              </a>
            </li>
            <li>
              <a href="#">
              Roll
              </a>
            </li>
            <li>
              <a href="#">
              Specialty paratha
              </a>
            </li>
            <li>
              <a href="#">
              Thai
              </a>
            </li>
          </ul>
        </div>