<!DOCTYPE html>
<html>
<%= render :partial => "/shared/head" %>
<body>


<p><button onclick="getLocation22()">Try It</button></p>
<p id="demo"></p>
<%= render :partial => "/shared/header" %>
<%= yield %>
<%= render :partial => "/shared/footer" %>

</body>
</html>

<script>
var x = document.getElementById("demo");

function getLocation22() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;

}


</script>